.box {
  width: 90%;
  margin: 10px auto;
  border: 2px solid gray;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}

.cardSection {
  width: 90%;
  margin: auto;
  border: 2px solid gray;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}